@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-theme-background: #ffffff;
  --color-theme-foreground: #171717;
}

@layer theme {
  :root,
  :host {
    @variant dark {
      --color-theme-background: #0a0a0a;
      --color-theme-foreground: #ededed;
    }
  }
}

body {
  font-family: "Trebuchet MS", Arial, sans-serif;
}
